<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
    <meta charset="utf-8" />
    <style type="text/css" media="screen">
    body {
        padding: 10px;
    }
    table {
        border-collapse: collapse;
        padding: 1px;
        text-align: center;
    }
    th {
    }
    td, th { 
        padding: 5px;
        border: 0;
    }
    tr {
        border: 2px solid;
    }
    td {
        border-bottom: 1px;
    }
    </style>
</head>
<body>
{% block body %}{% endblock body %}
</body>
</html>
